<section class="home-bg section h-100vh" id="home">
  <div class="bg-overlay"></div>
  <div class="home-table">
    <div class="home-table-center">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-12">
            <div class="text-white text-center">
              <h1 class="header_title mb-0 mt-3 text-center text-white mx-auto">Desarrollador web profesional</h1>
              <p class="header_subtitle text-white mx-auto mt-3 mb-0">Diseño y desarrollo web a medida, con mas de 3 años de experiencia.</p>
              <ul class="mb-0 list-inline text-center skill_home mt-5">
                <li class="list-inline-item mr-0">{{ _is.info.name }}</li>
                <li class="list-inline-item mr-0">{{ _is.info.phone }}</li>
                <li class="list-inline-item mr-0">
                  <a href="" style="color: white;">{{ _is.info.email }}</a>
                </li>
              </ul>
              <ul class="social_home list-unstyled text-center pt-5">
                <li class="list-inline-item">
                  <a [href]="_is.info.facebook">
                    <i class="mdi mdi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a [href]="_is.info.twitter">
                    <i class="mdi mdi-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a [href]="_is.info.instagram">
                    <i class="mdi mdi-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a [href]="_is.info.youtube">
                    <i class="mdi mdi-youtube"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a [href]="_is.info.google">
                    <i class="mdi mdi-google-plus"></i>
                  </a>
                </li>                
              </ul>
              <div class="header_btn">
                <a href="#" class="btn btn-outline-custom btn-rounded mt-4 mr-3">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
