.bg-white{
  background-color: #1a2734!important;
}
.title_services{
  color: #fff!important;
}
.dsc_services{
  color: #8698a5!important;
}

.sec_services{
  color: #6ec1e4!important;
}

.contact_icon{
  color: #0098d3!important;
}

.in-contact{
  background-color: #1a2734!important;
  border: 1px solid #1a2734!important;
}
.text-about{
  color: #1a2734!important;
}